/**
 * Allows you to change the default type name from .o-type-.
 * 
 * Type: String
 */

$iota-objs-type-namespace: 'type-';


/**
 * Allows you to specify typography sizes.
 *
 * Type: Map
 */

$iota-objs-type-sizes: (
	normal: (
		null: iota-ms(0),
		sm: iota-ms(0.5),
		lg: iota-ms(1),
	),
	large: (
		null: iota-ms(0.5),
		sm: iota-ms(1),
		lg: iota-ms(2),
	),
	extra-large: (
		null: iota-ms(1),
		sm: iota-ms(2),
		lg: iota-ms(4),
	),
);


body {
	font-family: 'Open Sans', sans-serif;

	h1,h2,h3,h4,h5,h6 {
		font-family: 'Poppins', sans-serif;
	}
}

@import 'node_modules/iotacss/objects/type';
