/**
 * Color names
 *
 * Type: Map
 */

$iota-utils-color-names: (
	primary : #0DA337,
	info : #20a5f8,
	interaction: #d3266d,
	dark : #333333,
	light: #ececec,
	ghost: transparent,
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-color-namespace: 'colour-';


@import 'node_modules/iotacss/utilities/color';
