.#{$iota-global-utilities-namespace}truncate {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.#{$iota-global-utilities-namespace}word-break {
	word-wrap: break-word;
}