<template>
	<div class="o-grid u-text-center u-text-left-when-sm c-flickr-item u-mh-x2 u-mb-x2">
		<div v-on:click="select(item)" class="o-grid__col u-1-of-6-when-sm image-container">
			<img v-bind:src="item.media.m" v-bind:alt="transformTitle" />
		</div>
		<div class="o-grid__col u-5-of-6-when-sm">
			<div class="u-pv">
				<h3 v-if="item.title.length" v-on:click="select(item)" class="o-type-large u-colour-primary u-ml-x2 u-capitalize u-truncate">{{ transformTitle }}</h3>

				<div class="u-cf u-pt o-type-normal">
					<div class="u-display-inline-block-when-lg u-pv u-ph-x2 u-colour-info">
						<strong>Published: {{ reformatDate }}</strong>
					</div>

					<div class="u-display-inline-block u-pv u-ph-x2">
						<a v-bind:href="item.link" target="_blank">View on Flickr</a>
					</div>

					<div class="u-display-inline-block u-float-left-when-lg u-pv u-ph-x2">
						<a v-bind:href="'https://www.flickr.com/people/' + item.author_id" target="_blank">Photo author</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {FlickrItemMixin} from '../FlickrItemMixin';

	export default {
		name: 'FlickrItem',
		props: ['item'],
		mixins: [FlickrItemMixin],
		methods: {
			select(selectedItem) {
				this.$emit('itemSelected', selectedItem);
			},
		}
	}
</script>

<style lang="sass?outputStyle=compressed" rel="stylesheet/scss"></style>