<template>
	<div class="o-grid__col">
		<transition-group v-if="items.length" name="flickr-items">
				<FlickrItem v-bind:item="item" v-on:itemSelected="select" v-for="item in items" v-bind:key="item.media.m"/>
		</transition-group>
		<transition appear name="u-animate-fade">
			<h3 class="o-type-extra-large u-text-center" v-if="!items.length">No photos available,<span class="u-display-block u-colour-primary">but Ben might still be!</span></h3>
		</transition>
		<transition appear name="u-animate-rotate">
			<div v-show="nothingNew" class="u-text-center u-bgcolour-info u-colour-light u-pv u-ph-x2">
				<h3 class="o-type-extra-large u-capitalize">Congratulations on reaching the end of the internet!</h3>
				<p>You've seen all of Flickr's&nbsp;latest&nbsp;images.</p>
				<button class="c-btn u-pv u-ph-x2 u-mt u-bgcolour-interaction u-colour-light" @click="fetchStream">Try For More. I'm Feeling Lucky!</button>
			</div>
		</transition>
		<transition appear name="u-animate-rotate">
			<div v-if="somethingWrong" class="u-text-center u-bgcolour-interaction u-colour-light u-pv u-ph-x2">
				<h3 class="o-type-extra-large u-capitalize">Oops!</h3>
				<p>Something somewhere has somehow gone somewhat wrong.</p>
				<button class="c-btn u-pv u-ph-x2 u-mt u-bgcolour-info u-colour-light" @click="fetchStream">Try Again!</button>
			</div>
		</transition>
	</div>
</template>

<script>
	import 'es6-promise/auto';
	import jsonp from 'jsonp';
	import includes from 'array-includes';

	import FlickrItem from './FlickrItem';

	export default {
		name: 'FlickrItems',
		components: {
			FlickrItem
		},
		data() {
			return {
				nothingNew: false,
				somethingWrong: false,
				modified: null,
				keys: [],
				items: [],
				url: 'https://api.flickr.com/services/feeds/photos_public.gne?format=json&callback=jsonFlickrFeed',
				bottom: false,
			}
		},
		created() {
			window.addEventListener('scroll', () => this.bottom = this.itemsEnd());

			this.fetchStream();
		},
		watch: {
			bottom(bottom) {
				if (bottom) {
					this.fetchStream();
				}
			}
		},
		methods: {

			fetchStream() {
				window['jsonFlickrFeed'] = response => this.updateItems(response);

				jsonp(this.url, {param: 'jsonFlickrFeed', timeout: 0}, (error) => {
					if(error) {
						this.somethingWrong = true;
						console.error(error);
					}
				});
			},

			updateItems(response) {
				if(response.hasOwnProperty('items')) {
					this.somethingWrong = false;

					if(this.modified != response.modified) {
						this.modified = response.modified;
						this.nothingNew = false;

						let filtered = response.items.filter( item => !includes(this.keys, item.media.m) );
						this.keys = this.keys.concat(filtered.map(item => item.media.m));
						this.items = this.items.concat(filtered);
					}
					else {
						this.nothingNew = true;
					}
				}
			},

			select(selectedItem) {
				this.$emit('itemSelected', selectedItem);
			},

			itemsEnd() {
				const scrollY = window.scrollY;
				const visible = document.documentElement.clientHeight;
				const pageHeight = document.documentElement.scrollHeight;
				const bottomOfPage = visible + scrollY >= pageHeight;
				return bottomOfPage || pageHeight < visible;
			},
		}
	}
</script>

<style lang="sass?outputStyle=compressed" rel="stylesheet/scss">
	.flickr-items-enter-active,
	.flickr-items-leave-active {
		transition: all 1s .3s;
	}
	.flickr-items-enter,
	.flickr-items-leave-to {
		opacity: 0;
		transform: rotateX(90deg);
	}
</style>