<template>
	<div class="o-grid__col u-5-of-6 u-1-of-2-when-sm c-overlay-container">
		<div class="u-p u-bgcolour-info c-overlay">
			<button @click="closeOverlay" class="u-pv u-ph-x2 c-btn c-btn--block">Close</button>
			<SelectedItem v-bind:item="selectedItem" />
		</div>
	</div>
</template>

<script>
	import SelectedItem from './SelectedItem';

 export default {
	 name: 'Overlay',
	 props: ['selectedItem'],
	 components: {
		 SelectedItem
	 },
	 methods: {
		 closeOverlay() {
			 this.$emit('closeOverlay');
		 }
	 }
 }
</script>

<style lang="sass?outputStyle=compressed" rel="stylesheet/scss"></style>