<template>
	<div class="u-colour-light u-mt-x2 u-text-center u-colour-light">
		<h3 v-if="item.title.length" class="u-capitalize u-word-break">{{ transformTitle }}</h3>

		<div class="u-cf u-pt">
			<div class="u-display-inline-block-when-lg u-pv u-ph-x2">
				<div v-html="item.description"></div>
				<p class="u-display-block">Published: {{ reformatDate }}</p>
			</div>

			<div class="u-pv">
				<a v-bind:href="item.link" target="_blank">View on Flickr</a>
				<br>
				<a v-bind:href="'https://www.flickr.com/people/' + item.author_id" target="_blank">Photo author</a>
			</div>
		</div>
	</div>
</template>

<script>
	import {FlickrItemMixin} from '../FlickrItemMixin';

	export default {
		name: 'SelectedItem',
		props: ['item'],
		mixins: [FlickrItemMixin],
	}
</script>

<style lang="sass?outputStyle=compressed" rel="stylesheet/scss"></style>