$iota-components-button-namespace: 'btn';

$iota-components-button-color: map_get($iota-utils-color-names, 'dark');
$iota-components-button-margin: 0;
$iota-components-button-padding: $iota-utils-padding-default map_get($iota-utils-padding-extra, '-x2');
$iota-components-button-border: none;
$iota-components-button-background: map_get($iota-utils-bgcolor-names, 'light');

.#{$iota-global-components-namespace}#{$iota-components-button-namespace}--block {
	width: 100%;
}

@import "node_modules/iotacss-components-button/components.button";