.#{$iota-global-components-namespace}flickr-item {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border: 1px solid map_get($iota-utils-color-names, 'light');

	&:hover {
		background-color: map_get($iota-utils-color-names, 'light');
	}

	.image-container {
		overflow: hidden;
		position: relative;
		min-height: 250px;
		cursor: pointer;

		@include iota-breakpoint(sm) {
			min-height: auto;
		}

		img {
			min-height: 100%;
			min-width: 100%;
			max-width: none;

			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translateX(-50%) translateY(-50%);
		}
	}

	h3 {
		cursor: pointer;
	}
}