$link-colour: map_get($iota-utils-color-names,'interaction');

a {
	color: map_get($iota-utils-color-names,'interaction');
	text-decoration: none;

	&:hover,
	&:focus {
		color: map_get($iota-utils-color-names,'dark');
	}
}