.#{$iota-global-components-namespace}overlay-container {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1;

	.#{$iota-global-components-namespace}overlay {
		height: 100%;

		p {
			max-width: 100%;
		}
	}
}