<template>
	<div id="app" v-bind:class="{'o-grid o-grid--right u-pt-x2 u-position-relative': true, 'overlay-open': selectedItem}">
		<transition name="u-animate-slide-fade" mode="out-in">
			<Overlay v-if="selectedItem" v-bind:selectedItem="selectedItem" v-on:closeOverlay="closeOverlay"/>
		</transition>

		<FlickrItems v-on:itemSelected="openOverlay"/>
	</div>
</template>

<script>
	import FlickrItems from './components/FlickrItems';
	import Overlay from './components/Overlay';

	export default {
		name: 'App',
		components: {
			FlickrItems,
			Overlay
		},
		data() {
			return {
				selectedItem: null
			}
		},
		methods: {
			openOverlay(item) {
				this.selectedItem = item;
			},
			closeOverlay() {
				this.selectedItem = null;
			}
		}
	}
</script>

<style lang="sass?outputStyle=compressed" rel="stylesheet/scss"></style>
